RewriteCond %{HTTP:KERSSL} !on
RewriteCond %{HTTP_HOST} ^whatip.ga$ [OR]
RewriteCond %{HTTP_HOST} ^whatip.ml$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
<If "%{HTTP:KERSSL} == 'on'">
    # Header Set
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</If>


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
