RewriteEngine On
RewriteCond %{HTTP_HOST} ^whatip\.ga [NC]
RewriteCond %{HTTP:KERSSL} !on
RewriteRule (.*) https://whatip.ga/$1 [NC,L,R=301]
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

